.header-container {
	width: 100%;
	height: 40vh;
	position: relative;
	overflow: hidden;
}

.imagen-header {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.imagen-header img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	display: block;
}

.tittle-sha {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
	display: flex;
}

@media screen and (max-width: 640px) {
	.header-container {
		height: 25vh;
	}

	.tittle-sha {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
	}

	h1 {
		font-size: 1rem;
	}

	h3 {
		font-size: 0.8rem !important;
	}
}

/* Tablets pequeñas */
@media screen and (min-width: 641px) and (max-width: 767px) {
	.header-container {
		height: 31vh;
	}
}

/* Tablets en horizontal y pantallas pequeñas en horizontal */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.header-container {
		height: 33vh;
	}
}

/* Pantallas de escritorio medianas */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.header-container {
		height: 32vh;
	}
}

/* Pantallas de escritorio grandes */
@media screen and (min-width: 1280px) {
	.header-container {
		height: 40vh;
	}

	h1 {
		font-size: 3rem;
	}
}