# Variables de entorno para el servidor
MONGO_URI=tu_uri_de_mongodb_aqui

# Configuración de Gmail para notificaciones por email
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_contraseña_de_aplicacion_de_gmail

# Puerto del servidor
PORT=10000
