/* Estilos generales para App.css */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: #cd708a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff8fb1;
}

li {
	color: rgb(251, 222, 222);
	font-size: 14px !important;
}



/* Pantallas pequeñas (móviles en vertical) */
@media screen and (max-width: 640px) {
	
}

/* Tablets pequeñas */
@media screen and (min-width: 641px) and (max-width: 767px) {
	
}

/* Tablets en horizontal y pantallas pequeñas en horizontal */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	

	
	

	
}

/* Pantallas de escritorio medianas */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
	
	

	
}

/* Pantallas de escritorio grandes */
@media screen and (min-width: 1280px) {
	
}


